footer {
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    color: $grey;
    font-size: 0.9em;
    min-height: 20px;
    align-items: center;
    justify-content: center;
    // z-index: 1000; /* Užtikrina, kad footer būtų viršuje kitų elementų */
}
