@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

$orange: #fd8014;
$hoverOrange: #fd811482;
$grey: gray;
$font: 'Lato';